:root {
--main-font: 'Roboto', sans-serif;
--font-weight-regular: 400;
--font-weight-semibold: 600;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../images/theme/background.svg');
  background-size: 100% auto;
  background-position: top center;
  background-repeat: repeat-y;
  z-index: -1;
  pointer-events: none;
  min-height: 100vh;
}

body {

  position: relative;

}

.page__wrapper{
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-family: var(--main-font);
  padding-left: 60px;
  padding-right: 60px;
  max-width: 1440px;
  
}

h1{
  font-weight: var(--font-weight-semibold);
  font-size: 64px;
  line-height: 130%;
}

h2{
  font-weight: var(--font-weight-semibold);
  font-size: 40px;
  line-height: 130%;
}

h3{
  font-weight: var(--font-weight-semibold);
  font-size: 24px;
  line-height: 130%;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-height: 64px;
}

.header__left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 26px;
}

.header__right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 26px;
}

.header__menu_list {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 24px;
}

.header__menu_item button{
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
  gap: 4px;

}



main {
  display: flex;
  flex-direction: column;
}


.main__breadcrumbs {
  padding-top: 20px;
  padding-bottom: 20px;
  max-height: 64px;
}
.main__breadcrumbs_list
{
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 4px;
  
}

.main__breadcrumbs_item_home {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.main__breadcrumbs_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0px;
}

.main__hero {
  display: flex;
  flex-direction: row;
}

.main__hero_col_text {
  display: flex;
  flex-direction: column;
  padding-top: 200px;
  padding-bottom: 188px;

}

.main__hero_col_text h1 {
  max-width: 900px;
}

.main__hero_col_img {
  display: flex;
  flex-direction: column;

}

.main__hero_col_img_png { /*решить, как отображать рисунок - псевдоэлемент??*/
  display: flex;
  max-width: 100%;
  max-height: 100%;
}

.main__who_list {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 24px;
}


.main__who_list_item article {
  background: #FFFFFF;
  border-radius: 30px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 24px;
  max-width: 424px;
  max-height: 418px;
  gap: 0px;
  padding: 30px 22px;
}

.main__who_list_item article h3 {
  margin-bottom: 12px;
}

.main__who_list_item article text {
  margin-bottom: 32px;
}

.main__who_list_item article img {
  max-width: 100%;
  max-height: 100%;
  
}




footer {
  display: column;
  flex-direction: row;
}

